---
import PageHead from '@/components/PageHead.astro'
import PostList from '@/components/PostList.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts } from '@/lib/data-utils'

const allPosts = await getAllPosts()
---

<Layout>
  <PageHead slot="head" title="Blog" />

  <section class="py-8">
    <h1 class="mb-4 text-xl font-semibold">Posts</h1>
    <PostList posts={allPosts} />
  </section>
</Layout>
