---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="Graphics" />

  <section>
    <p class="text-foreground">Coming soon.</p>
  </section>
</Layout>
