---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="Index" />

  <section>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="prose">
        <p>
        Eli is an AI/design engineer living in the Pacific Northwest.
        </p>
        <p>
        He is curently working on a pure Rust cross-platform open-source font editor called <a href="https://github.com/eliheuer/runebender-xilem">Runebender Xilem</a>, a collection of type design nodes for <a href="https://github.com/eliheuer/comfyfont">ComfyUI</a>, a post-authorship vector graphics AI solo startup called <a href="https://font.garden">Font.Garden</a>, and a Baha'i & Islamic studies publishing project called <a href="https://opengatebooks.com">Open Gate Books.</a>
        </p>
      </div>

      <div class="mt-[36px] md:mt-0 md:text-right">
        <a href="https://github.com/eliheuer">GitHub</a><br />
        <a href="https://x.com/eliheuer">X/Twitter</a><br />
        <a href="https://mastodon.social/@eliheuer">Mastodon</a><br />
        <a href="https://www.instagram.com/eli.heuer">Instagram</a><br />
        <a href="https://www.youtube.com/@eliheuer">YouTube</a><br />
        <a href="https://www.linkedin.com/in/eliheuer">LinkedIn</a><br />
        <a href="https://www.tiktok.com/@die_gnu_typographie">TikTok</a><br />
        <a href="mailto:elih@protonmail.com">Email</a>
      </div>
    </div>
  </section>
</Layout>
