---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="Index" />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p>
        Eli is a AI/design/font engineer interested in building font editors, AI-assisted type/font design, FOSS/libre graphics, blockchain(ETH, ZK, NFTs), RTL-i18n, Arabic, Islamic & Baháʼí Studies, solo startups, GNU/Linux, kids computers, math education, software UI/UX, and building simple Unix-like tools.
        </p>
      </div>

      <div class="prose">
        <p>
          <a href="https://github.com/eliheuer">GitHub</a><br />
          <a href="https://x.com/eliheuer">X / Twitter</a><br />
          <a href="https://mastodon.social/@eliheuer">Mastodon</a><br />
          <a href="https://www.linkedin.com/in/eliheuer">LinkedIn</a><br />
          <a href="mailto:elih@protonmail.com">Email</a>
        </p>
      </div>
    </div>
  </section>
</Layout>
