---
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
import FontToggle from './FontToggle.astro'
import ThemeToggle from './ThemeToggle.astro'
import { Icon } from 'astro-icon/components'
---

<!-- 4 grid units top, 1 grid unit bottom -->
<footer class="pt-[144px] px-[36px] pb-[36px]">
  <div
    class="mx-auto flex flex-col items-end justify-center gap-y-2 sm:flex-row sm:justify-between w-full"
  >
    <div class="flex flex-wrap items-end justify-center gap-x-2 text-center">
      <span class="text-foreground">
        &copy; {new Date().getFullYear()} All rights reserved.
      </span>
      <Separator orientation="vertical" className="hidden h-4! sm:block" />
      <p class="text-foreground flex items-center gap-1">
        <Icon name="lucide:creative-commons" class="size-4" />
        CC BY-SA 4.0
      </p>
    </div>
    <div class="flex items-end gap-1">
      <SocialIcons links={SOCIAL_LINKS} />
      <FontToggle transition:persist />
      <ThemeToggle transition:persist />
    </div>
  </div>
</footer>
