---
import { SOCIAL_LINKS } from '@/consts'
import FontToggle from './FontToggle.astro'
import Link from './Link.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<footer class="border-foreground text-muted-foreground flex flex-col gap-y-2 border-t py-5 text-sm">
  <div class="flex w-full flex-wrap justify-between gap-y-1">
    {
      SOCIAL_LINKS.map((link) => (
        <Link href={link.href} class="hover:text-foreground transition-colors">
          {link.label}
        </Link>
      ))
    }
  </div>
  <div class="flex items-baseline justify-between">
    <p>&copy; {new Date().getFullYear()} Eli Heuer &middot; CC BY-SA 4.0</p>
    <div class="flex items-baseline gap-x-4">
      <FontToggle transition:persist />
      <ThemeToggle transition:persist />
    </div>
  </div>
</footer>
