---
import Link from '@/components/Link.astro'
import MobileMenu from '@/components/ui/mobile-menu'
import { NAV_LINKS } from '@/consts'
import { Image } from 'astro:assets'
import logo from '../../public/static/logo-cropped.png'

const path = Astro.url.pathname
let headline: string

if (path === '/') {
  headline = 'Eli Heuer—AI/Design Engineer'
} else if (path.startsWith('/blog')) {
  headline = "Eli Heuer's Blog"
} else if (path.startsWith('/software')) {
  headline = "Eli Heuer's Software Projects"
} else if (path.startsWith('/fonts')) {
  headline = "Eli Heuer's Type Design Projects"
} else if (path.startsWith('/graphics')) {
  headline = "Eli Heuer's Graphic Design Projects"
} else {
  headline = 'Eli Heuer'
}
---

<!-- padding: 1 unit sides, 1 unit top, 4 units bottom -->
<header class="bg-background/50 sticky top-0 z-10 backdrop-blur-md px-[36px] pt-[36px] pb-[72px]" transition:persist>
  <div class="flex flex-wrap items-center justify-between">
    <Link href="/" class="flex shrink-0 items-center gap-1">
      <Image src={logo} alt="Logo" class="size-6" />
      {headline}
    </Link>
    <div class="flex items-center gap-2">
      <nav class="hidden items-center gap-2 md:flex">
        {
          NAV_LINKS.map((item) => (
            <Link href={item.href} class="capitalize transition-colors">
              {item.label}
            </Link>
          ))
        }
      </nav>
      <MobileMenu client:load transition:persist />
    </div>
  </div>
</header>
