---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="Software" />

  <section class="py-8">
    <h1 class="mb-2 text-xl font-semibold">Software</h1>
    <p class="text-muted-foreground mb-6">
      Software I have built or worked on, mostly font tooling in Rust and Python. Full list on <Link href="https://github.com/eliheuer" class="underline">GitHub</Link>.
    </p>
    <ul class="flex flex-col gap-y-2">
    <li>
      <Link href="https://github.com/eliheuer/img2bez" class="hover:underline">img2bez</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/bezy" class="hover:underline">bezy</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/runebender-xilem" class="hover:underline">runebender-xilem</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/cairo-drawbot" class="hover:underline">cairo-drawbot</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/spoonbender" class="hover:underline">spoonbender</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/qalam" class="hover:underline">qalam</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/bez" class="hover:underline">bez</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/tk-calligraphy" class="hover:underline">tk-calligraphy</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/fully-automated-font-repository" class="hover:underline">fully-automated-font-repository</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/comfyfont" class="hover:underline">comfyfont</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/libretype-data-tools" class="hover:underline">libretype-data-tools</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/designbot" class="hover:underline">designbot</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/hermes-comfyui-theme-maker" class="hover:underline">hermes-comfyui-theme-maker</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/runebender-comfy" class="hover:underline">runebender-comfy</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/bevy-snake" class="hover:underline">bevy-snake</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/bunny-pyx" class="hover:underline">bunny-pyx</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/py-bahai-date" class="hover:underline">py-bahai-date</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/build-vf" class="hover:underline">build-vf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ComfyUI_Lite_frontend" class="hover:underline">ComfyUI_Lite_frontend</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/glif2nft" class="hover:underline">glif2nft</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/lilufo-old-python-version" class="hover:underline">lilufo-old-python-version</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/maze-man-rpg" class="hover:underline">maze-man-rpg</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/simplefont" class="hover:underline">simplefont</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ufo-pytorch-scripts" class="hover:underline">ufo-pytorch-scripts</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ufo2nft" class="hover:underline">ufo2nft</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/xilem-qalam" class="hover:underline">xilem-qalam</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/bufo" class="hover:underline">bufo</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/cookiecutter-variable-font" class="hover:underline">cookiecutter-variable-font</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/druid-paint" class="hover:underline">druid-paint</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/efont" class="hover:underline">efont</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/elih-fonttools-scripts" class="hover:underline">elih-fonttools-scripts</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/elih-glyphs-scripts" class="hover:underline">elih-glyphs-scripts</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/FarmigoDataTools" class="hover:underline">FarmigoDataTools</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/FlappyBird128" class="hover:underline">FlappyBird128</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/font-utilities" class="hover:underline">font-utilities</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/gif-generator" class="hover:underline">gif-generator</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/hidden-words" class="hover:underline">hidden-words</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/img2glyph" class="hover:underline">img2glyph</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/img2ufo" class="hover:underline">img2ufo</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/JFont" class="hover:underline">JFont</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/lilufo" class="hover:underline">lilufo</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ltc" class="hover:underline">ltc</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/orbs" class="hover:underline">orbs</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/runebender-core" class="hover:underline">runebender-core</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/simple-snake-rs" class="hover:underline">simple-snake-rs</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/space-game-256" class="hover:underline">space-game-256</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/spoonbender2" class="hover:underline">spoonbender2</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/tarskis-world" class="hover:underline">tarskis-world</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/trufont-drawingtools" class="hover:underline">trufont-drawingtools</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ufoGamepad" class="hover:underline">ufoGamepad</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/vf-upgrade-survival-kit" class="hover:underline">vf-upgrade-survival-kit</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/xilem-sketchbook" class="hover:underline">xilem-sketchbook</Link>
    </li>
    </ul>
  </section>
</Layout>
