---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="Fonts" />

  <section class="py-8">
    <h1 class="mb-2 text-xl font-semibold">Fonts</h1>
    <p class="text-muted-foreground mb-6">
      Typefaces I have designed, forked, or prepared for release. Full list on <Link href="https://github.com/eliheuer" class="underline">GitHub</Link>.
    </p>
    <ul class="flex flex-col gap-y-2">
    <li>
      <Link href="https://github.com/eliheuer/caskaydia-cove" class="hover:underline">caskaydia-cove</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/hasubi-mono" class="hover:underline">hasubi-mono</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/micro-grotesk" class="hover:underline">micro-grotesk</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/epistle" class="hover:underline">epistle</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/titillium-web-vf" class="hover:underline">titillium-web-vf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/GTL001" class="hover:underline">GTL001</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/blue-ocean" class="hover:underline">blue-ocean</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/baby-shark" class="hover:underline">baby-shark</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/open-gate-naskh" class="hover:underline">open-gate-naskh</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/blocksync" class="hover:underline">blocksync</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/tenpo" class="hover:underline">tenpo</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/bezy-grotesk" class="hover:underline">bezy-grotesk</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/rena" class="hover:underline">rena</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/blotter-vf" class="hover:underline">blotter-vf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/instruments-serif" class="hover:underline">instruments-serif</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/wallingford" class="hover:underline">wallingford</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/gnugrotesk" class="hover:underline">gnugrotesk</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/GTL002" class="hover:underline">GTL002</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/radiocanadafonts" class="hover:underline">radiocanadafonts</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/fg-grotesk" class="hover:underline">fg-grotesk</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/bluu-next-vf" class="hover:underline">bluu-next-vf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/HeuerSchrift" class="hover:underline">HeuerSchrift</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/national-park" class="hover:underline">national-park</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/news-textura" class="hover:underline">news-textura</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/blender-block" class="hover:underline">blender-block</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/blobby-block" class="hover:underline">blobby-block</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/heuer-grotesk" class="hover:underline">heuer-grotesk</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/hyperblobject" class="hover:underline">hyperblobject</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/libre-caslon-condensed-gf" class="hover:underline">libre-caslon-condensed-gf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/mebo" class="hover:underline">mebo</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/open-gate-mono" class="hover:underline">open-gate-mono</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/virtua-grotesk" class="hover:underline">virtua-grotesk</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/woodbine" class="hover:underline">woodbine</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/heuer-grotesk-old" class="hover:underline">heuer-grotesk-old</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/linux-quadra" class="hover:underline">linux-quadra</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/upm256" class="hover:underline">upm256</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/wa7ed-mono" class="hover:underline">wa7ed-mono</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/1F7D9" class="hover:underline">1F7D9</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/Exile-GF" class="hover:underline">Exile-GF</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/fdfd" class="hover:underline">fdfd</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/isotherma" class="hover:underline">isotherma</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/Kalimat-mono" class="hover:underline">Kalimat-mono</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/lllllllll-vf" class="hover:underline">lllllllll-vf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/MFEK-icon-fonts" class="hover:underline">MFEK-icon-fonts</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/open-source-font-with-these-characteristics" class="hover:underline">open-source-font-with-these-characteristics</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/preschool" class="hover:underline">preschool</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/pyxel-font" class="hover:underline">pyxel-font</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ren" class="hover:underline">ren</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/trailhead" class="hover:underline">trailhead</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ab" class="hover:underline">ab</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/averia-libre-vf" class="hover:underline">averia-libre-vf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/bedbug" class="hover:underline">bedbug</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/behrens-antiqua" class="hover:underline">behrens-antiqua</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/browne" class="hover:underline">browne</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/concertone-gf" class="hover:underline">concertone-gf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/eenheidvar" class="hover:underline">eenheidvar</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/Estedad-GF" class="hover:underline">Estedad-GF</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/exosolar" class="hover:underline">exosolar</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/gotu-gf" class="hover:underline">gotu-gf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/hind-siliguri-gf" class="hover:underline">hind-siliguri-gf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ilo" class="hover:underline">ilo</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/khand-gf" class="hover:underline">khand-gf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/linja-pona-ufo" class="hover:underline">linja-pona-ufo</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/loje" class="hover:underline">loje</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/maname-font-gf" class="hover:underline">maname-font-gf</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/Mikhak-GF" class="hover:underline">Mikhak-GF</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/moves" class="hover:underline">moves</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/New-Terminal" class="hover:underline">New-Terminal</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/nur-mono" class="hover:underline">nur-mono</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/optimal" class="hover:underline">optimal</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/pali" class="hover:underline">pali</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/quadround" class="hover:underline">quadround</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/rompacta" class="hover:underline">rompacta</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/rreepplliiccaa" class="hover:underline">rreepplliiccaa</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/SKI" class="hover:underline">SKI</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/tru-sans" class="hover:underline">tru-sans</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/U-FDFD" class="hover:underline">U-FDFD</Link>
    </li>
    <li>
      <Link href="https://github.com/eliheuer/ya-baha-u-l-abha" class="hover:underline">ya-baha-u-l-abha</Link>
    </li>
    </ul>
  </section>
</Layout>
